include MANIFEST.in
include requirements*.txt
include axonius_api_client/cert_human/all_logs_list.json
graft axonius_api_client/tests/datafiles/
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
