[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]
"codecov" = "*"
"pytest" = ">=2.8.0"
"pytest-cov" = "*"
"pytest-httpbin" = "*"

[packages]
e1839a8 = {path = ".",editable = true}
