requests[security,socks]==2.23.0
python-dotenv==0.12.0
python-dateutil==2.8.1
click==7.1.1
pyreadline==2.1 ; platform_system == "Windows"
tabulate==0.8.7
pathlib2==2.3.5 ; python_version < '3.7'
jsonstreams==0.4.2
